.addition {
    position: relative;

    h2 {
        &::before {
            left: 0;
            bottom: -0.6rem;
        }
    }

    ul {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @include breakpoint($sm-bp) {
            margin-top: 1.5rem;
        }

        li {
            border: 0.15rem solid var(--black);
            border-radius: 0.2rem;
            padding: 1.5rem 0rem 1.5rem 1.5rem;
            width: 36.5rem;
            position: relative;
            background: var(--white);

            @include breakpoint($xl-bp) {
                width: 45rem;
            }

            @include breakpoint($sm-bp) {
                width: 15.95rem;
                padding: 0.8rem 0.5rem 0.5rem 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 0.1rem solid var(--black);
            }

            p {
                color: var(--gray);
                font-size: 2.4rem;
                font-weight: 400;
                line-height: normal;

                @include breakpoint($sm-bp) {
                    font-size: 1.6rem;
                }
            }

            h3 {
                color: var(--black);
                font-size: 2.4rem;
                font-weight: 500;
                line-height: normal;
                text-align: center;

                @include breakpoint($sm-bp) {
                    font-size: 1.1rem;
                }
            }

            a {
                position: absolute;
                right: 1.5rem;
                bottom: 1.5rem;

                @include breakpoint($sm-bp) {
                    position: unset;
                    font-size: 1rem;
                    margin-left: auto;
                }
            }

            div {
                width: 100%;
                height: 24rem;
                margin-top: 1.5rem;

                @include breakpoint($sm-bp) {
                    height: 10rem;
                    margin-top: 1rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &:first-child {
                width: 75rem;
                padding: 3.1rem 1.1rem 0 2.3rem;
                border-radius: 0.2rem 2rem 0.2rem 0.2rem;
                position: relative;
                overflow: hidden;

                @include breakpoint($xl-bp) {
                    width: 100%;
                    padding-bottom: 10rem;
                }

                @include breakpoint($sm-bp) {
                    padding: 1.5rem 1rem 3.4rem 1.5rem;
                }

                .addition__first-el-bg {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    width: 30rem;
                    position: absolute;
                    right: -7rem;
                    bottom: -5rem;

                    @include breakpoint($sm-bp) {
                        width: 15rem;
                        gap: 0.5rem;
                        right: -4rem;
                        bottom: 1rem;
                    }


                    svg {
                        width: 14rem;
                        height: 14rem;
                        opacity: 0.2;

                        @include breakpoint($sm-bp) {
                            width: 7rem;
                            height: 7rem;
                        }
                    }
                }
            }

            &:nth-child(2) {
                border-radius: 2rem 2rem 0.2rem 2rem;
            }

            &:nth-child(3) {
                border-radius: 0.2rem 0.2rem 0.2rem 2rem;
            }

            &:nth-child(4) {
                border-radius: 2rem 0.2rem 2rem 0.2rem;
            }

            &:nth-child(5) {
                border-radius: 0.2rem 2rem 0.2rem 0.2rem;

                div {
                    width: 84%;
                }
            }

            &:nth-child(6) {
                border-radius: 2rem 2rem 0.2rem 2rem;

                div {
                    width: 93%;
                }
            }

            &:nth-child(7) {
                border-radius: 0.2rem 0.2rem 0.2rem 2rem;

                div {
                    width: 79%;
                }
            }

            &:nth-child(8) {
                border-radius: 0.2rem 2rem 0.2rem 0.2rem;

                div {
                    width: 80%;
                }
            }

            &:nth-child(9) {
                border-radius: 0.2rem 2rem 0.2rem 0.2rem;

                div {
                    width: 92%;
                }
            }

            &:nth-child(10) {
                border-radius: 2rem 2rem 0.2rem 2rem;

                div {
                    width: 96%;
                }
            }

            &:nth-child(11) {
                border-radius: 2rem 0.2rem 2rem 0.2rem;

                @include breakpoint($sm-bp) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                div {
                    width: 52%;
                }
            }

        }
    }
}

.addition__background {
    position: absolute;
    top: 10rem;
    left: 150rem;
    right: 0;
    bottom: 0;
    background: var(--green);
    filter: blur(15rem);
    width: 17.6rem;
    height: 17.6rem;
    z-index: -1;

    @include breakpoint($xl-bp) {
        left: 0rem;
        display: none;
    }
}