.blog {
    h2 {
        &::before {
            left: 0;
        }
    }
}

.blog__content {
    margin-top: 4.2rem;
    display: flex;
    gap: 3rem;

    @include breakpoint($xl-bp) {
        flex-direction: column;
        gap: 20rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 1.5rem;
        gap: 0rem;
    }
}

.blog__text {
    width: 63rem;
    position: relative;

    @include breakpoint($xl-bp) {
        width: 100%;
    }

    h3 {
        color: var(--black);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: normal;

        @include breakpoint($sm-bp) {
            font-size: 2rem;
        }
    }

    p {
        color: var(--gray);
        font-size: 2.4rem;
        font-weight: 400;
        line-height: normal;
        margin-top: 3rem;

        @include breakpoint($sm-bp) {
            font-size: 2rem;
            margin-top: 2rem;
        }
    }

    svg {
        position: absolute;
        fill: transparent;
        width: 66.2rem;
        height: 30rem;
        margin-top: 1rem;

        @include breakpoint($xl-bp) {
            width: 100%;
            top: 15rem;
        }

        @include breakpoint($sm-bp) {
            position: unset;
            height: 10rem;
            margin-top: 0;
        }
    }
}

.blog__video-container {
    width: 57%;

    @include breakpoint($xl-bp) {
        width: 100%;
    }

    
    video {
        width: 100%;
        border-radius: 2rem;
        object-fit: cover;

        @include breakpoint($sm-bp) {
            height: 27.5rem;
        }
    
    }
}

.blog__video-inner {
    position: relative;

    button {
        position: absolute;
        width: 7rem;
        height: 7rem;
        border-radius: 1rem;
        background: var(--white);
        border: none;
        top: 1.8rem;
        right: 1.2rem;
        z-index: 11;

        @include breakpoint($sm-bp) {
            width: 4.3rem;
            height: 4.3rem;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: transparent;
        }
    }

    .unmute-ico {
        display: none;
        padding-left: 0.6rem;
    }
}

.blog__social-media {
    display: flex;
    gap: 5rem;
    margin-top: 1.8rem;
    justify-content: end;

    @include breakpoint($sm-bp) {
        margin-top: 2rem;
        gap: 2rem;
    }

    a {
        width: 6rem;
        height: 6rem;

        @include breakpoint($sm-bp) {
            width: 4rem;
            height: 4rem;
        }


        svg {
            stroke: var(--black);
            fill: var(--black);
            width: 100%;
            height: 100%;
            transition: all 0.3s linear;
        }

        &:hover {

            svg {
                stroke: var(--pink);
                fill: var(--pink);
            }
        }
    }
}

@keyframes blogLineChange {
    0% {
        d: path("m706.75,42.97c-1.97,2.93 -1.99,7.33 -1.2,5.89c0.79,-1.44 -0.07,2.27 0.77,0.8c0.84,-1.47 -0.96,-2.75 -2.1,-0.78c-1.14,1.97 1.36,-4.76 0.78,-5.97");
    }

    100% {
        d: path("M7.74628 13.9692C-20.2247 59.896 37.7154 111.813 201.547 81.8609C406.336 44.4206 264.482 224.134 425.317 205.663C586.151 187.193 380.363 53.9055 518.221 67.8832C656.079 81.8609 651.584 -78.8827 733 53.9055");
    }
}