header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2rem;
    border-bottom: 0.1rem solid var(--gray);
    transition: all .2s linear;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    background: var(--white);

    @include breakpoint($sm-bp) {
        padding: 2rem 1.8rem;
    }

    ul {
        display: flex;
        gap: 4.9rem;

        @include breakpoint($xl-bp) {
            display: none;
        }

        a {
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
            background-image: linear-gradient(to right,
                    var(--pink),
                    var(--pink) 50%,
                    var(--black) 50%);
            background-size: 200% 100%;
            background-position: 100%;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-position: 0;
            }
        }
    }

    .pink-button {
        @include breakpoint($xl-bp) {
            display: none;
        }
    }
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 3.5rem;

    @include breakpoint($sm-bp) {
        gap: 1rem;
    }

    &>a {
        width: 11.6rem;
        height: 10.9rem;

        @include breakpoint($sm-bp) {
            width: 6rem;
            height: 4rem;
        }
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;

    @include breakpoint($sm-bp) {
        gap: 0.4rem;
    }

    div {
        display: flex;
        gap: 1rem;

        &>a {
            width: 2.7rem;
            height: 2.7rem;
            border-bottom: none;

            @include breakpoint($sm-bp) {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:first-child {
                width: max-content;
                border-bottom: 0.1rem solid var(--black);
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    a {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: normal;
        border-bottom: 0.15rem solid var(--black);
        width: max-content;

        background-image: linear-gradient(to right,
                var(--pink),
                var(--pink) 50%,
                var(--black) 50%);
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;

        @include breakpoint($sm-bp) {
            font-size: 1.4rem;
        }

        &:hover {
            background-position: 0;
        }
    }


}

.burger-button {
    display: none;
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;

    @include breakpoint($xl-bp) {
        display: block;
    }

    @include breakpoint($sm-bp) {
        width: 3rem;
        height: 2rem;
    }

    svg {
        width: 100%;
        height: 100%;
    }


}

.dropbtn {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

    svg {
        width: 1.6rem;
        height: 1.6rem;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 2rem;
    background: var(--white);
    min-width: max-content;
    box-shadow: 0.2rem 0.2rem 0.4rem 0px rgba(253, 37, 122, 0.63), -0.1rem 0px 0.4rem 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 2rem;
    flex-direction: column;
    gap: 1.5rem;

    a {
        color: var(--black);
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    li {
        position: relative;
        padding-left: 2rem;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            border-radius: 50%;
            width: 1.2rem;
            height: 1.2rem;
            background: var(--pink);
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
    }

}



.dropdown:hover .dropdown-content {
    display: flex;

}

.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}



.header-left-button {
    border: none;
    position: fixed;
    z-index: 111;
    right: -14rem;
    rotate: 90deg;
    border-radius: 0 0 2rem 2rem;
    background: var(--blue);
    display: flex;
    align-items: center;
    top: 50rem;
    overflow: hidden;
    padding: 0 0.3rem 0 0;

    @include breakpoint($xl-bp) {
        display: none;
    }


    span {

        &:first-child {
            color: var(--white);
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
            padding: 2rem 2.4rem 2.2rem 2.6rem;
        }

        &:last-child {
            width: 7rem;
            height: 6rem;
            background: var(--white);
            margin-top: -0.5rem;
            border-radius: 0 0 2rem 2rem;

            svg {
                width: 100%;
                height: 100%;
                fill: transparent;
            }
        }
    }
}

.close-modal__zone {
    position: absolute;
    width: 100%;
    height: 0.1rem;
    top: 0;
    left: 0;
}

.header-button__container {
    display: flex;
    gap: 2rem;
}