.materials-types {

    &>p {
        color: var(--black);
        font-size: 4rem;
        font-weight: 400;
        line-height: normal;
        margin-top: 5rem;
        width: 78rem;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            margin-top: 1.5rem;
            font-size: 1.6rem;
        }
    }
}

.materials-types__content {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
    }

    li {
        width: 41.5rem;
        position: relative;
    }
}

.materials-types__img {
    width: 100%;
    height: 31.7rem;

    @include breakpoint($xl-bp) {
        height: 50rem;
    }

    @include breakpoint($sm-bp) {
        height: unset;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.materials-types__inner {
    margin-top: 4rem;
    padding: 2rem 1.1rem 1.5rem 3rem;
    background: var(--blue);
    border-radius: 2rem 1rem 1rem 1rem;

    @include breakpoint($sm-bp) {
        padding: 1.5rem 1rem 1rem 1.6rem;
    }

    h3 {
        color: var(--white);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: normal;

        @include breakpoint($sm-bp) {
            font-size: 2rem;
        }

        span {
            font-size: 1.6rem;

            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
            }
        }
    }

    div {
        width: 4rem;
        height: 0.4rem;
        background: var(--green);
        border-radius: 2rem;
        margin-top: 0.9rem;
    }

    p {
        color: var(--white);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: normal;
        margin-top: 1.1rem;

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }

    button {
        display: flex;
        margin-left: auto;
        margin-top: 3rem;

        @include breakpoint($sm-bp) {
            margin-top: 1.7rem;
        }
    }
}

.materials-types__description-container {
    display: flex;
    justify-content: space-between;

    @include breakpoint($xl-bp) {
        flex-direction: column;
        gap: 3rem;
        margin-top: 4rem;
    }

    @include breakpoint($sm-bp) {
        gap: 2rem;
    }
}


.materials-types__description {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 5rem;
    width: 41.5rem;

    @include breakpoint($xl-bp) {
        width: 100%;
        margin-top: 0rem;
    }

    

    &:last-of-type {

        p {
            width: 100%;
        }
    }

    svg {
        fill: transparent;
        width: 4rem;
        height: 5.6rem;

        @include breakpoint($sm-bp) {
            width: 1.9rem;
            height: 2.7rem;
        }
    }

}

.materials-types__description-title {
    width: 100%;
    left: 5rem;

    h3 {
        color: var(--black);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: normal;
        margin-top: 1.9rem;

        @include breakpoint($sm-bp) {
            font-size: 1.8rem;
            margin-top: 0.2rem;
        }
    }

    p {
        color: var(--gray);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: normal;
        margin-top: 2rem;
        width: 120%;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
            font-weight: 400;
            margin-top: 1rem;
        }
    }
}

.materials-types-pagination {
    display: none;
    margin-top: 5rem;
    justify-content: center;
    align-self: center;
    width: fit-content;
    gap: 2rem;

    @include breakpoint($xl-bp) {
        display: flex;
    }

    @include breakpoint($sm-bp) {
        margin-top: 1.5rem;
        gap: 1rem;
    }

    .swiper-pagination-bullet {
        background: var(--white);
        border: 0.3rem solid var(--green);
        margin: 0;
        width: 2rem;
        height: 2rem;

        @include breakpoint($sm-bp) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--green);
    }
}