.our-works {
    position: relative;

    p {
        color: var(--black);
        font-size: 2.4rem;
        font-weight: 400;
        line-height: normal;
        width: 76rem;
        margin-top: 2.1rem;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
        }
    }

    ul {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @include breakpoint($xl-bp) {
            gap: 0;
            row-gap: 3rem;
        }

        @include breakpoint($sm-bp) {
            row-gap: 2rem;
        }

        li {
            width: 36.5rem;
            border-radius: 2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .swiper-grid-column>.swiper-wrapper {
        flex-direction: unset;
    }

    .swiper-slide {
        margin-top: 0rem !important;
    }

    .swiper-pagination-bullet {
        margin: 0;
        width: 2rem;
        height: 2rem;
        background: var(--white);
        border: 0.3rem solid var(--pink);

        @include breakpoint($sm-bp) {
            width: 1.5rem;
            height: 1.5rem;
            border: 0.2rem solid var(--pink);
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--pink);
    }
}

.panel-container {
    transform-style: preserve-3d;
}

.our-works__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 16rem;
    width: 78%;

    @include breakpoint($xl-bp) {
        width: 100%;
        left: 0;
        top: 20rem;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.our-works-pagination {
    width: fit-content;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include breakpoint($sm-bp) {
        margin-top: 2rem;
        gap: 1rem;
    }
}