.stages {

    h2 {
        &::before {
            left: 19.5rem;
            bottom: -0.8rem;

            @include breakpoint($sm-bp) {
                left: 0rem;
                bottom: -0.2rem;
            }
        }
    }

    ul {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 15rem;
        row-gap: 13rem;
        position: relative;

        @include breakpoint($xl-bp) {
            gap: 3rem;
        }

        @include breakpoint($sm-bp) {
            gap: 2rem;
            margin-top: 2.5rem;
        }

        li {
            color: var(--black);
            border-radius: 2rem;
            border: 0.3rem solid var(--blue);
            padding: 1rem 1rem 4.1rem 1.5rem;
            width: 37rem;
            background: var(--white);

            @include breakpoint($xl-bp) {
                width: 44.5rem;
            }

            @include breakpoint($sm-bp) {
                padding: 1rem 1rem 2rem 1rem;
                width: 22rem;
                border: 0.2rem solid var(--blue);
            }


            &:nth-child(odd) {
                background: var(--blue);
                color: var(--white);

                @include breakpoint($sm-bp) {
                    margin-left: auto;
                }

            }

            h3 {
                font-size: 4rem;
                font-weight: 400;
                line-height: normal;
                text-align: end;

                @include breakpoint($sm-bp) {
                    font-size: 2.4rem;
                }
            }

            p:first-of-type {
                font-size: 3.2rem;
                font-weight: 500;
                line-height: normal;

                @include breakpoint($sm-bp) {
                    font-size: 1.8rem;
                }
            }

            p:last-of-type {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: normal;

                @include breakpoint($sm-bp) {
                    font-size: 1.6rem;
                }
            }

            &:nth-child(1) {
                position: absolute;
                border: none;
                background: none;
                width: 100%;
                height: 100%;
                z-index: -1;
                top: 6rem;

                @include breakpoint($sm-bp) {
                    top: 3rem;
                    height: 92%;

                    svg {
                        fill: none;
                    }
                }
            }

            @include breakpoint($sm-bp) {
                &:nth-child(5) {
                    order: 7;
                }
    
                &:nth-child(6) {
                    order: 6;
                }
    
                &:nth-child(7) {
                    order: 5;
                }
            }

           

        }
    }
}


.stages-line {
    @include breakpoint($xl-bp) {
        display: none;
    }
}

.stages-line-mobile {
    display: none;
    width: 100%;
    height: 100%;

    @include breakpoint($sm-bp) {
        display: block;
    }
}