.technical-capabilities__content {
    margin-top: 5rem;
    display: flex;
    gap: 1.5rem;

    @include breakpoint($xl-bp) {
        gap: 0rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 2.5rem;
    }

    .swiper-slide {
        width: 49.2rem;
    }
}

.technical-capabilities {

    h2 {
        &::before {
            left: 39rem;

            @include breakpoint($sm-bp) {
                left: 0;
            }
        }
    }

    .swiper-pagination-bullet {
        width: 2rem;
        height: 2rem;
        border: 0.3rem solid var(--pink);
        background: var(--white);

        @include breakpoint($sm-bp) {
            width: 1.5rem;
            height: 1.5rem;
            border: 0.2rem solid var(--pink);
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--pink);
    }
}

.technical-capabilities-swiper {
    width: 100%;
}

.technical-capabilities__inner {
    border-radius: 2rem;
    border: 0.1rem solid var(--gray);
    padding: 3rem 2rem 3.3rem 2rem;

    @include breakpoint($sm-bp) {
        padding: 2rem 1.5rem;
    }

    a {
        &:first-child {
            padding: 1rem 2rem;
            color: var(--white);
            font-size: 2.8rem;
            font-weight: 500;
            line-height: normal;
            background: var(--green);
            border-radius: 3rem;
            width: max-content;

            @include breakpoint($sm-bp) {
                font-size: 1.8rem;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3.5rem;
        width: 75%;

        @include breakpoint($sm-bp) {
            margin-top: 2rem;
        }

        li {
            color: var(--gray);
            font-size: 2.4rem;
            font-weight: 400;
            line-height: normal;
            position: relative;
            padding-left: 2.5rem;

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.8rem;
                width: 1.5rem;
                height: 1.5rem;
                background: var(--blue);
                border-radius: 50%;

                @include breakpoint($sm-bp) {
                    width: 1rem;
                    height: 1rem;
                    top: 0.5rem;
                }
            }
        }
    }

    .blue-button {
        width: 39.4rem;
        text-align: center;
        margin-top: 2.5rem;

        @include breakpoint($xl-bp) {
            width: 82.5rem;
        }

        @include breakpoint($sm-bp) {
            width: 27rem;
            margin-top: 2rem;
        }
    }
}

.technical-capabilities__img {
    margin-top: 4rem;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;

    @include breakpoint($sm-bp) {
        margin-top: 2rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.technical-capabilities-pagination {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    width: fit-content;
    justify-content: center;
    align-items: center;

    @include breakpoint($sm-bp) {
        margin-top: 3rem;
        gap: 1rem;
    }
}