.type-of-package {
    position: relative;

    h2 {
        &::before {
            display: none;
        }
    }

    .type-of-package-background {
        position: absolute;
        width: 100%;
        height: 45.3rem;
        top: -24rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include breakpoint($xl-bp) {
            top: 0;
        }

        .animated-path {
            animation: cornerChange 3s infinite;
        }
    }

    ul {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @include breakpoint($sm-bp) {
            margin-top: 2rem;
        }

        li {
            width: 75rem;
            border: 0.2rem solid var(--black);
            border-radius: 2rem;
            padding: 2.7rem 0rem 2rem 4.4rem;

            display: flex;
            flex-direction: column;
            gap: 3.9rem;

            @include breakpoint($xl-bp) {
                width: 100%;
            }

            @include breakpoint($sm-bp) {
                padding: 2.3rem 0rem 1rem 1rem;
                gap: 0;
                border: 0.1rem solid var(--black);
            }

            .blue-button {
                margin-right: 2rem;
                margin-left: auto;
                padding: 1.3rem 6rem;
                font-size: 2.3rem;

                @include breakpoint($sm-bp) {
                    padding: 0.8rem 1.8rem;
                    font-size: 1.6rem;
                }
            }

            &:first-child {
                .type-of-package__content {
                    display: flex;
                    gap: 3.4rem;
                    justify-content: space-between;
                }

                .type-of-package__content-inner {

                    div {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .type-of-package__content-text {
                    position: relative;

                    div {
                        width: 100%;
                        margin-top: 2rem;

                        @include breakpoint($sm-bp) {
                            margin-top: 0rem;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &>p {
                        color: var(--black);
                        font-size: 2.8rem;
                        font-weight: 500;
                        line-height: normal;
                        position: absolute;

                        @include breakpoint($sm-bp) {
                            font-size: 1.2rem;
                        }

                        &:nth-of-type(1) {
                            top: 18.6rem;
                            right: 3.2rem;

                            @include breakpoint($sm-bp) {
                                top: 7.6rem;
                                right: 2.2rem;
                            }

                        }

                        &:nth-of-type(2) {
                            top: 25.3rem;
                            right: 21rem;

                            @include breakpoint($sm-bp) {
                                top: 10.8rem;
                                right: 10rem;
                            }

                        }

                        &:nth-of-type(3) {
                            right: 13.8rem;

                            @include breakpoint($sm-bp) {
                                right: 7.8rem;
                            }
                        }
                    }
                }
            }

            &:last-child {
                .type-of-package__content {
                    display: flex;
                    gap: 3.4rem;
                    justify-content: space-between;
                    padding-right: 4rem;
                }

                .type-of-package__content-inner {

                    div {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .type-of-package__content-text {
                    position: relative;

                    div {
                        width: 100%;
                        margin-top: 2rem;

                        @include breakpoint($sm-bp) {
                            margin-top: 0rem;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &>p {
                        color: var(--black);
                        font-size: 2.8rem;
                        font-weight: 500;
                        line-height: normal;
                        position: absolute;

                        @include breakpoint($sm-bp) {
                            font-size: 1.4rem;
                        }

                        &:nth-of-type(1) {
                            top: 30rem;
                            right: -1.8rem;

                            @include breakpoint($sm-bp) {
                                top: 11.5rem;
                            }
                        }

                        &:nth-of-type(2) {
                            top: 38.6rem;
                            right: 16.6rem;

                            @include breakpoint($sm-bp) {
                                top: 15rem;
                                right: 7.6rem;
                            }

                        }
                    }
                }
            }
        }
    }
}

.type-of-package__subtitle {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    width: 98rem;

    @include breakpoint($xl-bp) {
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 1.5rem;
        gap: 0;
    }

    p {
        color: var(--black);
        font-size: 4rem;
        font-weight: 400;
        line-height: normal;

        @include breakpoint($sm-bp) {
            font-size: 1.8rem;
        }

        &:first-child {
            text-wrap: nowrap;
        }

        &:last-child {
            font-size: 2.4rem;
            font-weight: 500;
            margin-top: 1rem;
            color: var(--gray);

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
                margin-top: 1.5rem;
                font-weight: 400;
                color: var(--black);
            }
        }
    }
}

@keyframes cornerChange {

    0%,
    100% {
        d: path("M1925.55 922.887C1925.55 922.887 1717.46 903.777 1412.01 775.285C1141.85 661.64 1056.17 747.618 784.479 630.149C648.524 571.355 412.245 566.878 244.299 531.501C-59.5023 467.466 -118.877 392.563 -118.877 392.563L-21 0C-21 0 89.6392 68.7284 213.379 118.151C478.846 224.195 687.571 171.136 934.045 274.154C1117.01 350.63 1336.28 328.317 1518.87 400.406C1751.58 492.277 2028.26 510.939 2028.26 510.939L1925.55 922.887Z");
    }

    50% {
        d: path("m1925.55,922.89c0,0 -275.38,-200.97 -513.54,-147.61c-238.16,53.36 -442.57,-142.34 -709.53,-159.13c-266.96,-16.79 -256.23,-165.27 -427.18,-204.65c-170.95,-39.38 -394.18,-18.94 -394.18,-18.94l97.88,-392.56c0,0 61.91,-166.89 306.38,16.15c244.47,183.04 451.19,141.99 648.66,258c197.47,116.01 438.24,152.17 605.83,110.26c167.59,-41.91 488.39,126.53 488.39,126.53l-102.71,411.95z");
    }
}

.animated-path {
    animation: cornerChange 1s infinite;
}