.why-us {

    h2 {
        &::before {
            left: 0rem;
        }
    }

    .panel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @include breakpoint($sm-bp) {
            margin-top: 2rem;
        }

        li {
            border: 0.2rem solid var(--black);
            border-radius: 2rem;

            padding: 3rem 0 3rem;
            width: 36.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @include breakpoint($xl-bp) {
                width: 45rem;
            }

            @include breakpoint($sm-bp) {
                width: 15.8rem;
                height: 16rem;
                border: 0.1rem solid var(--black);
            }

            .rotation-card__background {
                position: absolute;
                background: var(--green);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.2;
                border-radius: 50%;
            }

            .panel-container {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;

                @include breakpoint($sm-bp) {
                    gap: 0.5rem;
                }
            }

            svg {
                fill: transparent;
                width: 22.3rem;
                height: 19.3rem;

                @include breakpoint($sm-bp) {
                    width: 10rem;
                    height: 10rem;
                }
            }

            p {
                color: var(--black);
                text-align: center;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @include breakpoint($sm-bp) {
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }

            &:nth-child(1) {
                border-radius: 2rem 2rem 0.2rem 2rem;

                .rotation-card__background {
                    width: 20.8rem;
                    height: 20.8rem;

                    @include breakpoint($sm-bp) {
                        width: 9rem;
                        height: 9rem;
                    }
                }
            }

            &:nth-child(2) {
                border-radius: 0.2rem 0.2rem 0.2rem 2rem;

                .rotation-card__background {
                    width: 15.9rem;
                    height: 15.9rem;

                    @include breakpoint($sm-bp) {
                        width: 9rem;
                        height: 9rem;
                    }
                }
            }

            &:nth-child(3) {
                border-radius: 2rem 0.2rem 2rem 0.2rem;

                .rotation-card__background {
                    width: 17rem;
                    height: 17rem;

                    @include breakpoint($sm-bp) {
                        width: 9rem;
                        height: 9rem;
                    }
                }
            }

            &:nth-child(4) {
                border-radius: 0.2rem 2rem 0.2rem 0.2rem;

                .rotation-card__background {
                    width: 16.3rem;
                    height: 16.3rem;

                    @include breakpoint($sm-bp) {
                        width: 9rem;
                        height: 9rem;
                    }
                }
            }
        }
    }
}