<section class="addition page-padding block-margin">
    <h2>Дополнительные опции</h2>
    <div class="addition__background"></div>
    <ul>
        <li>
            <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов.</p>
            <div class="addition__first-el-bg">
                <svg>
                    <use href="#circul-bg"></use>
                </svg>
                <svg>
                    <use href="#circul-bg"></use>
                </svg>
                <svg>
                    <use href="#circul-bg"></use>
                </svg>
                <svg>
                    <use href="#circul-bg"></use>
                </svg>
            </div>
        </li>
        <li>
            <h3>Колпачок-дозатор</h3>
            <div>
                <img src="./assets/images/addition/addition-img1.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Фигурная форма</h3>
            <div>
                <img src="./assets/images/addition/addition-img2.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Вырубная ручка</h3>
            <div>
                <img src="./assets/images/addition/addition-img3.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Зип-застежка</h3>
            <div>
                <img src="./assets/images/addition/addition-img4.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Застежка липучка</h3>
            <div>
                <img src="./assets/images/addition/addition-img5.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Застежка бегунок</h3>
            <div>
                <img src="./assets/images/addition/addition-img6.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Пакеты с окошком</h3>
            <div>
                <img src="./assets/images/addition/addition-img7.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Клапан дегазации</h3>
            <div>
                <img src="./assets/images/addition/addition-img8.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Винтовая крышка</h3>
            <div>
                <img src="./assets/images/addition/addition-img9.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
        <li>
            <h3>Индивидуальные решения</h3>
            <div>
                <img src="./assets/images/addition/addition-img10.jpg" alt="#">
            </div>
            <a href="#" class="blue-button">Подробнее</a>
        </li>
    </ul>
</section>