<section class="addition-options__title-block page-padding">
    <h1>Колпачок-дозатор</h1>

    <div class="addition-options__title-block-wrapper">
        <div class="addition-options__title-block-text">
            <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов. Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов</p>

            <div class="addition-options__title-block-list">
                <div>
                    <p>01</p>
                    <p>Это просто фиктивный текст полиграфической промышленности.</p>
                </div>

                <div>
                    <p>02</p>
                    <p>Это просто фиктивный текст полиграфической промышленности.</p>
                </div>

                <div>
                    <p>03</p>
                    <p>Это просто фиктивный текст полиграфической промышленности.</p>
                </div>
            </div>
        </div>

        <div class="addition-options__title-block-img">
            <img src="./assets/images/addition-block/addition-block-title-img.jpg" alt="#">
        </div>
    </div>

    <a href="#" class="pink-button">Заказать</a>
</section>