<div class="addition page-padding block-margin">
  <div class="h2">Дополнительные опции</div>
  <div class="addition__background"></div>
  <ul>
      <li>
          <p>Раздел дополнительных опций для дой-пак пакетов предлагает широкий спектр возможностей для индивидуализации упаковки. Клиенты могут выбрать необходимые им характеристики, такие как размер, форма, материал, дизайн и дополнительные функции, чтобы получить упаковку, идеально соответствующую их требованиям и потребностям.</p>
          <div class="addition__first-el-bg">
              <svg>
                  <use href="#circul-bg"></use>
              </svg>
              <svg>
                  <use href="#circul-bg"></use>
              </svg>
              <svg>
                  <use href="#circul-bg"></use>
              </svg>
              <svg>
                  <use href="#circul-bg"></use>
              </svg>
          </div>
      </li>
      <li>
          <h3>Колпачок-дозатор</h3>
          <div>
              <img src="./assets/images/addition/addition-img1.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Фигурная форма</h3>
          <div>
              <img src="./assets/images/addition/addition-img2.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Вырубная ручка</h3>
          <div>
              <img src="./assets/images/addition/addition-img3.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Зип-застежка</h3>
          <div>
              <img src="./assets/images/addition/addition-img4.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Застежка липучка</h3>
          <div>
              <img src="./assets/images/addition/addition-img5.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Застежка бегунок</h3>
          <div>
              <img src="./assets/images/addition/addition-img6.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Пакеты с окошком</h3>
          <div>
              <img src="./assets/images/addition/addition-img7.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Клапан дегазации</h3>
          <div>
              <img src="./assets/images/addition/addition-img8.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Винтовая крышка</h3>
          <div>
              <img src="./assets/images/addition/addition-img9.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
      <li>
          <h3>Индивидуальные решения</h3>
          <div>
              <img src="./assets/images/addition/addition-img10.jpg" alt="#">
          </div>
          <button data-modal="#application-modal" class="blue-button">Подробнее</button>
      </li>
  </ul>
</div>