<section class="addition-options__variants-of-use block-margin page-padding">
    <div class="addition-options__variants-of-use-text">
        <h3>Для чего используют</h3>

        <ul>
            <li>
                <a href="#">Стеклоочиститель</a>
            </li>
            <li>
                <a href="#">Крема</a>
            </li>
            <li>
                <a href="#">Мыло</a>
            </li>
            <li>
                <a href="#">Варенье</a>
            </li>
            <li>
                <a href="#">Косметические средства</a>
            </li>
            <li>
                <a href="#">Мед</a>
            </li>
            <li>
                <a href="#">Гель</a>
            </li>
            <li>
                <a href="#">Масло</a>
            </li>
            <li>
                <a href="#">Бытовая химия</a>
            </li>
            <li>
                <a href="#">Джем</a>
            </li>
            <li>
                <a href="#">Антисептики</a>
            </li>
            <li>
                <a href="#">и т.п.</a>
            </li>
        </ul>
    </div>

    <div class="addition-options__variants-of-use-swiper">
        <div class="swiper flexoprint-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="addition-options__images-container">
                        <div>
                            <img src="./assets/images/addition-options/addition-options__swiper-img-1.jpg" alt="#">
                        </div>
                        <div>
                            <img src="./assets/images/addition-options/addition-options__swiper-img-2.jpg" alt="#">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="addition-options__images-container">
                        <div>
                            <img src="./assets/images/addition-options/addition-options__swiper-img-1.jpg" alt="#">
                        </div>
                        <div>
                            <img src="./assets/images/addition-options/addition-options__swiper-img-2.jpg" alt="#">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="addition-options__images-container">
                        <div>
                            <img src="./assets/images/addition-options/addition-options__swiper-img-1.jpg" alt="#">
                        </div>
                        <div>
                            <img src="./assets/images/addition-options/addition-options__swiper-img-2.jpg" alt="#">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flexoprint-swiper__buttons">
                <button>
                    <svg>
                        <use href="#swiper-arrow"></use>
                    </svg>
                </button>
                <button>
                    <svg>
                        <use href="#swiper-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="flexoprint-swiper__pagination swiper-pagination"></div>
    </div>
</section>