<div class="anothertypes page-padding block-margin">
  <div class="anothertypes-title h2">Другие виды упаковки</div>

  <ul class="anothertypes-list mt-45">
    <li class="anothertypes-item">
      <div class="anothertypes-subtitle">Пакет дой-пак с зип-лок</div>
      <div class="anothertypes-img img-contain">
        <img src="./assets/images/anothertypes/1.png" alt="Пакет дой-пак с зип-лок">
      </div>
      <a href="#" class="anothertypes-link blue-button">Подробнее</a>
    </li>
    <li class="anothertypes-item">
      <div class="anothertypes-subtitle">Пакет дой-пак с окошком</div>
      <div class="anothertypes-img img-contain">
        <img src="./assets/images/anothertypes/2.png" alt="Пакет дой-пак с окошком">
      </div>
      <a href="#" class="anothertypes-link blue-button">Подробнее</a>
    </li>
    <li class="anothertypes-item">
      <div class="anothertypes-subtitle">Крафт пакет дой-пак</div>
      <div class="anothertypes-img img-contain">
        <img src="./assets/images/anothertypes/3.png" alt="Крафт пакет дой-пак">
      </div>
      <a href="#" class="anothertypes-link blue-button">Подробнее</a>
    </li>
    <li class="anothertypes-item">
      <div class="anothertypes-subtitle">Пакет трехшовный</div>
      <div class="anothertypes-img img-contain">
        <img src="./assets/images/anothertypes/4.png" alt="Пакет трехшовный">
      </div>
      <a href="#" class="anothertypes-link blue-button">Подробнее</a>
    </li>
    <li class="anothertypes-item">
      <div class="anothertypes-subtitle">Пакет квадропак</div>
      <div class="anothertypes-img img-contain">
        <img src="./assets/images/anothertypes/5.png" alt="Пакет квадропак">
      </div>
      <a href="#" class="anothertypes-link blue-button">Подробнее</a>
    </li>
    <li class="anothertypes-last text-24">
      Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда
      неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов. Это просто фиктивный текст полиграфической
      промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и
      скремблировал его, чтобы создать книгу с образцами шрифтов.
    </li>
  </ul>
</div>