<section class="blog page-padding block-margin">
    <h2>Наш блог</h2>

    <div class="blog__content">
        <div class="blog__text">
            <h3>Lorem Ipsum был стандартным в отрасли</h3>
            <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли
                фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его,
                чтобы создать книгу с образцами шрифтов.</p>

            <svg class="line-svg" viewBox="0 0 734 208" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.74628 13.9692C-20.2247 59.896 37.7154 111.813 201.547 81.8609C406.336 44.4206 264.482 224.134 425.317 205.663C586.151 187.193 380.363 53.9055 518.221 67.8832C656.079 81.8609 651.584 -78.8827 733 53.9055"
                    stroke="#263A81" stroke-width="2" />
            </svg>

        </div>

        <div class="blog__video-container">
            <div class="blog__video-inner">
                <button class="mute-ico">
                    <svg>
                        <use href="#mute-ico"></use>
                    </svg>
                </button>

                <button class="unmute-ico">
                    <svg>
                        <use href="#unmute-ico"></use>
                    </svg>
                </button>
                <video controls autoplay muted poster="./assets/images/blog/blog-video-prewiew.jpg">
                    <source src="./assets/videos/Rick Astley - Never Gonna Give You Up (Official Music Video).mp4">
                </video>
            </div>

            <div class="blog__social-media">
                <a href="#">
                    <svg>
                        <use href="#vk-icon"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg>
                        <use href="#tg-icon"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg>
                        <use href="#fb-icon"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg>
                        <use href="#inst-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>