<section class="blog page-padding block-margin">
    <h2>Наш блог</h2>

    <div class="blog__content">
        <div class="blog__text">
            <h3>Lorem Ipsum был стандартным в отрасли</h3>
            <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов.</p>

            <svg>
                <use href="#blog-line"></use>
            </svg>
        </div>

        <div class="blog__video-container">
            <video controls="controls" poster="./assets/images/blog/blog-video-prewiew.jpg">
                <source src="./assets/videos/Rick Astley - Never Gonna Give You Up (Official Music Video).mp4">
            </video>

            <div class="blog__social-media">
                <a href="#">
                    <svg>
                        <use href="#vk-icon"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg>
                        <use href="#tg-icon"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg>
                        <use href="#fb-icon"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg>
                        <use href="#inst-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>