<div class="bulkfas --sm-column-reverse page-padding block-margin">
  <div class="bulkfas-wrapper">
    <div class="bulkfas-img img-cover">
      <img src="./assets/images/fasovka/3.jpg" alt="Розлив">
    </div>
    <button class="blue-button bulkfas-button" data-modal="#application-modal">
      Заказать
    </button>

  </div>

  <div class="bulkfas-wrapper">
    <div class="h2 bulkfas-title">Розлив</div>
    <div class="text-24 text-grey">
      Розлив жидкости осуществляется в банки, бутылки, дойпаки, саше, стики и другую тару.
    </div>
    <div class="bulkfas-lists">
      <div class="bulkfas-block text-24">
        <div class="bulkfas-subtitle font-medium">Пищевой розлив</div>
        <ul class="bulkfas-list text-20 mt-20">
          <li><a href="#">Джем</a></li>
          <li><a href="#">Варенье</a></li>
          <li><a href="#">Мед</a></li>
          <li><a href="#">Масло</a></li>
        </ul>
      </div>
      <div class="bulkfas-block text-24">
        <div class="bulkfas-subtitle font-medium">Непищевой розлив</div>
        <ul class="bulkfas-list text-20 mt-20">
          <li><a href="#">Крема</a></li>
          <li><a href="#">Антисептики</a></li>
          <li><a href="#">Стеклоочиститель</a></li>
          <li><a href="#">Мыло</a></li>
          <li><a href="#">Косметические средства</a></li>
          <li><a href="#">Гель</a></li>
          <li><a href="#">Бытовая химия</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="green-ball --4"></div>
  <div class="green-ball --5"></div>
</div>