<div class="bulkfas page-padding block-margin">
  <div class="bulkfas-wrapper">
    <div class="h2 bulkfas-title">Фасовка сыпучих</div>
    <div class="text-24 text-grey">
      Фасовка сыпучих продуктов осуществляется в дой паки, квадропаки, флоу паки, трехшовные пакеты, с боковыми фальцами, стики и саше и другую тару:
    </div>
    <div class="bulkfas-lists">
      <div class="bulkfas-block text-24">
        <div class="bulkfas-subtitle font-medium">Продовольственные<br> товары</div>
        <div class="bulkfas-listTitle mt-20">Фасовка:</div>
        <ul class="bulkfas-list text-20 mt-20">
          <li><a href="#">Кофе</a></li>
          <li><a href="#">Чая</a></li>
          <li><a href="#">Цикория</a></li>
          <li><a href="#">Сухофруктов</a></li>
          <li><a href="#">Круп</a></li>
          <li><a href="#">Специй и приправ</a></li>
          <li><a href="#">Сахара</a></li>
          <li><a href="#">Макарон и макаронных изделий</a></li>
          <li><a href="#">Чипсов</a></li>
          <li><a href="#">Мюсли</a></li>
          <li><a href="#">Сухариков</a></li>
          <li><a href="#">Печенья</a></li>
          <li><a href="#">Конфет</a></li>
          <li><a href="#">Пельменей и других замороженных полуфабрикатов</a></li>
          <li><a href="#">Корма для домашних животных</a></li>
          <li><a href="#">Снеков</a></li>
        </ul>
      </div>
      <div class="bulkfas-block text-24">
        <div class="bulkfas-subtitle font-medium">Непродовольственные товары</div>
        <div class="bulkfas-listTitle mt-20">Фасовка:</div>
        <ul class="bulkfas-list text-20 mt-20">
          <li><a href="#">Наполнителя для животных</a></li>
          <li><a href="#">Стирального порошка</a></li>
          <li><a href="#">Порошка для посудомоечной машины</a></li>
          <li><a href="#">Бытовой химии</a></li>
          <li><a href="#">Скраба для тела и других принадлежностей для ухода за телом</a></li>
          <li><a href="#">Гранул</a></li>
          <li><a href="#">Декоративного песка</a></li>
          <li><a href="#">Декоративных камней</a></li>
          <li><a href="#">Удобрений</a></li>
          <li><a href="#">Угля</a></li>
          <li><a href="#">Земли для растений</a></li>
          <li><a href="#">Щепок</a></li>
          <li><a href="#">Соли для ванн</a></li>
          <li><a href="#">Семян для рассады</a></li>
          <li><a href="#">Строительных смесей</a></li>
          <li><a href="#">Прикормки для рыб</a></li>
          <li><a href="#">Средства от крыс и мышей</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bulkfas-wrapper">
    <div class="bulkfas-img img-cover">
      <img src="./assets/images/fasovka/2.jpg" alt="Фасовка сыпучих">
    </div>
    <button class="blue-button bulkfas-button" data-modal="#application-modal">
      Заказать
    </button>

    <div class="pink-line"></div>
  </div>

  <div class="green-ball --6"></div>
</div>