<section class="contacts page-padding block-margin">
    <h2>Контакты</h2>

    <div class="contacts__content">
        <div class="contacts__inner">
            <p>Принимаем звонки с 9:00 до 20:00</p>

            <p>127015, Москва, ул.<br>Новодмитровская, д. 2к1</p>

            <a href="tel:+7 (499) 394 44 31">+7 (499) 394 44 31</a>

            <a href="mailto:sale@group-pack.ru">sale@group-pack.ru</a>
        </div>

        <form action="#">
            <h3>Консультация дизайнера</h3>

            <div class="form-content">
                <input type="text" placeholder="Имя" name="name">
                <input type="tel" placeholder="Телефон" name="phone">

                <button type="submit" class="blue-button">Оставить заявку</button>

                <p>
                    Нажимая кнопку «Отправить», вы соглашаетесь c <a href="#">Политикой обработки персональных
                        данных</a> и <a href="#">Политикой конфиденциальности</a>
                </p>
            </div>
        </form>
    </div>
</section>