<div class="contacts-page page-padding">
    <h1>Контакты</h1>

    <div class="contacts-page__wrapper">
        <div class="contacts-page__content">
            <ul>
                <li>
                    <p>Адрес:</p>
                    <p>Москва, ул. Новодмитровская, д 2к1</p>
                </li>

                <li>
                    <p>Метро:</p>
                    <p>Дмитровская</p>
                </li>

                <li>
                    <p>Телефон:</p>
                    <a href="tel:+7 (499) 394-44-31">+7 (499) 394-44-31</a>
                </li>

                <li>
                    <p>Время работы:</p>
                    <p>пн-чт 9:30-18:00, пт 9:30-17:30</p>
                </li>

                <li>
                    <p>Мы в соц. сетях:</p>
                    <a href="mailto:sale@group-pack.ru">sale@group-pack.ru</a>
                </li>
            </ul>

            <div class="contacts-page__social-media">
                <a href="https://www.youtube.com/@Group-Pack" target="_blank">
                    <svg>
                        <use href="#youtube-ico"></use>
                    </svg>
                </a>

                <a href="https://t.me/group_pack" target="_blank">
                    <svg>
                        <use href="#tg-icon"></use>
                    </svg>
                </a>

                <a href="https://wa.me/+79363000520" target="_blank">
                    <svg>
                        <use href="#whatsApp-ico"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="contacts-page__map">
            <div class="contacts-page__map-background"></div>
            <iframe src="https://yandex.ru/map-widget/v1/?ll=37.589931%2C55.805007&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTYxNjk5MjIyEkvQoNC-0YHRgdC40Y8sINCc0L7RgdC60LLQsCwg0J3QvtCy0L7QtNC80LjRgtGA0L7QstGB0LrQsNGPINGD0LvQuNGG0LAsIDLQujEiCg0XXBZCFVQ4X0I%2C&z=16.89" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</div>