<div class="development-prepress page-padding block-margin">
    <h3>Допечатное производство</h3>
    <div class="development-prepress__wrapper">
        <div class="development-prepress__img">
            <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
        </div>
    
        <ul>
            <li>Цветной планшетный сканер Heidelberg Topaz II, формат А3, разрешение 5080 dpi.;</li>
            <li>Цифровой цветопробный комплекс на базе Epson 7800 и программного обеспечения EFI ColorProof XXL, формат А2. Достоверная имитация будущего печатного оттиска с возможностью воспроизведения растровой розетки, цвета запечатываемого материала и наложения триадных и Pantone-цветов в различных соотношениях;</li>
            <li>Аналоговая цветопроба 3M Matchprint, формат А3+;</li>
            <li>Устройства контроля и калибровки печатного процесса на различных этапах - спектрофотометр Gretag-Macbeth Spectrolino, денситометры Gretag и X-Rite;</li>
            <li>Комплекс изготовления цифровых флексографских печатных форм (CTP) KODAK Thermoflex Mid II Hybrid;</li>
            <li>Высокопроизводительный широкоформатный комплекс изготовления цифровых флексографских печатных форм (CTP) Kodak Flexcel NX Wide.</li>
        </ul>
    </div>
</div>