<div class="development-title-block page-padding mt-5">
    <h1>Производство</h1>
    <div class="development-title-block__text">
        <p>Group Pack - компания полного цикла производства от изготовления дизайна упаковки до готового продукта для отгрузки в сеть или магазины. Мы предлагаем эксклюзивный продукт для мелкого бизнеса, start-up проектов, крупных предприятий - пилотные тиражи промышленной упаковки с полноцветной печатью и дополнительными опциями.</p>

        <p>Group Pack - компания полного цикла производства от изготовления дизайна упаковки до готового продукта для отгрузки в сеть или магазины. Мы предлагаем эксклюзивный продукт для мелкого бизнеса, start-up проектов, крупных предприятий - пилотные тиражи промышленной упаковки с полноцветной печатью и дополнительными опциями.</p>
    </div>

    <div class="development-title-block__content">
        <div class="development-title-block__content-list">
            <div class="development-title-block__content-list-inner">
                <p>01</p>
                <div>
                    <p>Минимальные сроки <span>выполнения заказа</span></p>
                </div>
            </div>

            <div class="development-title-block__content-list-inner">
                <p>02</p>
                <div>
                    <p><span>При необходимости</span> разработка дизайна</p>
                </div>
            </div>

            <div class="development-title-block__content-list-inner">
                <p>03</p>
                <div>
                    <p>Комплексность <span>оказываемых услуг</span></p>
                </div>
            </div>

            <div class="development-title-block__content-list-inner">
                <p>04</p>
                <div>
                    <p><span>Готовность предоставить</span> гибкую систему скидок, <span>отсрочку платежа</span></p>
                </div>
            </div>
        </div>

        <div class="development-title-block__swiper">
            <div class="swiper flexoprint-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
                </div>
                <div class="swiper-slide">
                  <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
                </div>
                <div class="swiper-slide">
                  <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
                </div>
              </div>
      
              <div class="flexoprint-swiper__buttons">
                <button>
                  <svg>
                    <use href="#swiper-arrow"></use>
                  </svg>
                </button>
                <button>
                  <svg>
                    <use href="#swiper-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="flexoprint-swiper__pagination swiper-pagination"></div>
          </div>
    </div>
</div>