<div class="effective page-padding block-margin">
  <div class="h2">Эффективность пленки</div>

  <ul class="effective-list mt-45">
    <li class="effective-item">
      <div class="effective-img img-contain"><img src="./assets/images/film/effective.svg" alt="Это просто фиктивный текст "></div>
      <div class="effective-subtitle text-20">Это просто фиктивный текст </div>
    </li>
    <li class="effective-item">
      <div class="effective-img img-contain"><img src="./assets/images/film/effective.svg" alt="Это просто фиктивный текст "></div>
      <div class="effective-subtitle text-20">Это просто фиктивный текст </div>
    </li>
    <li class="effective-item">
      <div class="effective-img img-contain"><img src="./assets/images/film/effective.svg" alt="Это просто фиктивный текст "></div>
      <div class="effective-subtitle text-20">Это просто фиктивный текст </div>
    </li>
    <li class="effective-item">
      <div class="effective-img img-contain"><img src="./assets/images/film/effective.svg" alt="Это просто фиктивный текст "></div>
      <div class="effective-subtitle text-20">Это просто фиктивный текст </div>
    </li>
  </ul>

  <div class="effective-two-columns text-24">
    <div>
      Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда
      неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов.
    </div>
    <div>
      Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда
      неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов.
    </div>
  </div>
</div>