<section class="fasmain page-padding mt-50">
  <h1 class="h1">Фасовка</h1>

  <div class="fasmain-two-column mt-45">
    <div class="fasmain-left text-24">
      <p>Мы Group Pack, помогаем владельцам бизнеса с фасовкой и упаковкой продукции в течение 10 лет.</p>
      <div class="fasmain-img img-cover">
        <img src="./assets/images/fasovka/1.jpg" alt="fasovka">
      </div>
    </div>
    <div class="fasmain-right text-24">
      <p>
        Мы предлагаем широкий выбор вариантов упаковки, что позволяет вам протестировать спрос, не инвестируя в собственное производство упаковки. Наши
        услуги охватывают весь процесс упаковки, начиная с выбора типа упаковки и изготовления материалов и заканчивая отправкой готовой партии. Мы
        работаем оперативно, без перебоев, гарантируя своевременное выполнение работ. Работаем с любыми партиями.
      </p>

      <ul class="fasmain-list">
        <li class="fasmain-item">
          <div class="fasmain-subtitle">Любые обьемы</div>
          <p class="fasmain-desc">Работаем даже с небольшими партиями продукции</p>
        </li>
        <li class="fasmain-item">
          <div class="fasmain-subtitle">Безопасное хранение</div>
          <p class="fasmain-desc">Раздельные зоны производства и хранения товара</p>
        </li>
        <li class="fasmain-item">
          <div class="fasmain-subtitle">Довольные клиенты</div>
          <p class="fasmain-desc">Со многими клиентами сотрудничаем более 5 лет</p>
        </li>
        <li class="fasmain-item">
          <div class="fasmain-subtitle">Конфиденциальность</div>
          <p class="fasmain-desc">Данные о вашем товаре или рекламных акциях не попадут к конкурентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>