<div class="technical-capabilities page-padding block-margin">
  <div class="h2">Технические возможности</div>

  <div class="swiper technical-capabilities-swiper">
      <div class="swiper-wrapper technical-capabilities__content">
          <div class="swiper-slide">
              <div class="technical-capabilities__inner">
                  <a href="#">Флексопечать</a>
      
                  <div class="technical-capabilities__img">
                      <img src="./assets/images/technical-capabilities/technical-capabilities-img1.jpg" alt="#">
                  </div>
      
                  <button data-modal="#application-modal" class="blue-button">Подробнее</button>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="technical-capabilities__inner">
                  <a href="#">Печать на крафт бумаге</a>
      
                  <div class="technical-capabilities__img">
                      <img src="./assets/images/technical-capabilities/technical-capabilities-img2.jpg" alt="#">
                  </div>
      
                  <button data-modal="#application-modal" class="blue-button">Подробнее</button>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="technical-capabilities__inner">
                  <a href="#">Офсетная печать</a>
      
                  <div class="technical-capabilities__img">
                      <img src="./assets/images/technical-capabilities/technical-capabilities-img3.jpg" alt="#">
                  </div>
      
                  <button data-modal="#application-modal" class="blue-button">Подробнее</button>
              </div>
          </div>
      </div>
  </div>

  <div class="technical-capabilities-pagination"></div>
  
</div>