<section class="film page-padding mt-50">
  <h1 class="h1">Пленка</h1>

  <div class="h2 mt-45">Предлагаем изготовление пленки тиражом от 50 кг. с печатью.</div>

  <div class="film-wrapper grid-cols-12 mt-45">
    <div class="film-img col-span-7 img-cover">
      <img src="./assets/images/film/1.jpg" alt="Пленка">
    </div>
    <div class="col-span-5">
      <div class="wysiwyg-block pr-10">
        <p>Пленка минимальным тиражом производится из таких материалов как:</p>
        <ul>
          <li>Вopp+Bopp</li>
          <li>Pet+Bopp+Pe</li>
          <li>Pet матовый+Bopp+Pe</li>
          <li>Кraft+Pe</li>
          <li>Kraft металлиз+Pe</li>
        </ul>
      </div>

      <div class="film-two-column">
        <div class="film-block">
          <div class="film-subtitle">Срок изготовления:</div>
          <div>от 4-7 рабочих дней.</div>
        </div>
        <div class="film-block">
          <div class="film-block">
            <div class="film-subtitle">Тип печати:</div>
            <div>полноцветная 8+8 цветов</div>
          </div>
        </div>
      </div>

      <button class="blue-button film-button" data-modal="#application-modal">
        Заказать
      </button>
    </div>
  </div>

  <div class="green-ball --1"></div>

</section>