<div class="flexoprint-block page-padding">
  <h1>Флексопечать</h1>
  <div class="flexoprint-block__wrapper">
    <div class="flexoprint-block__text">
      <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным
        текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с
        образцами шрифтов.</p>
      <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным
        текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с
        образцами шрифтов.</p>
      <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным
        текстом с 1500-х годов</p>
    </div>

    <div class="flexoprint-swiper__container">
      <div class="swiper flexoprint-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
          </div>
          <div class="swiper-slide">
            <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
          </div>
          <div class="swiper-slide">
            <img src="./assets/images/flexoprint/flexoprint-swiper-img.jpg" alt="#">
          </div>
        </div>

        <div class="flexoprint-swiper__buttons">
          <button>
            <svg>
              <use href="#swiper-arrow"></use>
            </svg>
          </button>
          <button>
            <svg>
              <use href="#swiper-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="flexoprint-swiper__background"></div>
      <div class="flexoprint-swiper__pagination swiper-pagination"></div>
    </div>
  </div>
</div>