<div class="forwhat page-padding block-margin">

  <div class="h2">Для чего подходит?</div>

  <ul class="forwhat-list mt-45">
    <li class="forwhat-item">
      <div class="forwhat-subtitle pink text-24">Продовольственные товары</div>
      <ul class="forwhat-sublist text-20">

        <li>Сахара</li>
        <li>Кофе</li>
        <li>Чая</li>
        <li>Цикория</li>
        <li>Сухофруктов</li>
        <li>Мюсли</li>
        <li>Печенья</li>
        <li>Круп</li>
        <li>Специй и приправ</li>
        <li>Чипсов</li>
        <li>Сухариков</li>
        <li>Конфет</li>
        <li>Снеков</li>
        <li class="w-full">Макарон и макаронных изделий</li>
        <li class="w-full">Пельменей и других замороженных полуфабрикатов</li>
        <li class="w-full">Корма для домашних животных</li>
      </ul>
    </li>
    <li class="forwhat-item">
      <div class="forwhat-subtitle green text-24">Продовольственные товары</div>
      <ul class="forwhat-sublist text-20">
        <li>Гранул</li>
        <li>Наполнителя для животных</li>
        <li>Бытовой химии</li>
        <li>Удобрений</li>
        <li>Стирального порошка</li>
        <li>Угля</li>
        <li>Декоративных камней</li>
        <li>Соли для ванн</li>
        <li>Земли для растений</li>
        <li>Декоративного песка</li>
        <li>Щепок</li>
        <li>Семян для рассады</li>
        <li>Средства от крыс и мышей</li>
        <li>Прикормки для рыб</li>
        <li class="w-full">Скраба для тела и других принадлежностей для ухода за телом</li>
        <li class="w-full">Порошка для посудомоечной машины</li>
      </ul>
    </li>
    <li class="forwhat-item">
      <div class="forwhat-subtitle blue text-24">Продовольственные товары</div>
      <ul class="forwhat-sublist text-20">
        <li class="w-full">Конфеты</li>
        <li class="w-full">Печенье</li>
        <li class="w-full">Овощи</li>
        <li class="w-full">Игрушки</li>
        <li class="w-full">Запчасти</li>
      </ul>
    </li>
  </ul>

  <div class="green-ball --2"></div>
</div>