<form action="#" class="main-form page-margin block-margin" name="main-form">
    <h2>
        Заполните форму, и наш<br>специалист свяжется с вами
    </h2>

    <div class="main-form__inputs">
        <input type="text" placeholder="Имя" name="name">
        <input type="email" placeholder="E-mail" name="mail">
        <input type="tel" placeholder="Телефон" name="phone">
    </div>

    <div class="main-form__submit">
        <p>Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">Политикой обработки персональных данных</a> и <a
                href="#">Политикой конфиденциальности</a></p>

        <button class="pink-button" type="submit">
            Отправить
        </button>
    </div>
</form>