<div class="forwhat page-padding block-margin">

  <div class="h2">Для чего подходит?</div>

  <ul class="forwhat-list mt-45">
    <li class="forwhat-item">
      <div class="forwhat-subtitle pink text-24">Продовольственные товары</div>
      <ul class="forwhat-sublist text-20">

        <li><a href="#">Сахара</a></li>
        <li><a href="#">Кофе</a></li>
        <li><a href="#">Чая</a></li>
        <li><a href="#">Цикория</a></li>
        <li><a href="#">Сухофруктов</a></li>
        <li><a href="#">Мюсли</a></li>
        <li><a href="#">Печенья</a></li>
        <li><a href="#">Круп</a></li>
        <li><a href="#">Специй</a> и приправ</li>
        <li><a href="#">Чипсов</a></li>
        <li><a href="#">Сухариков</a></li>
        <li><a href="#">Конфет</a></li>
        <li><a href="#">Снеков</a></li>
        <li class="w-full"><a href="#">Макарон и макаронных изделий</a></li>
        <li class="w-full"><a href="#">Пельменей и других замороженных полуфабрикатов</a></li>
        <li class="w-full"><a href="#">Корма для домашних животных</a></li>
      </ul>
    </li>
    <li class="forwhat-item">
      <div class="forwhat-subtitle green text-24">Продовольственные товары</div>
      <ul class="forwhat-sublist text-20">
        <li><a href="#">Гранул</a></li>
        <li><a href="#">Наполнителя для животных</a></li>
        <li><a href="#">Бытовой химии</a></li>
        <li><a href="#">Удобрений</a></li>
        <li><a href="#">Стирального порошка</a></li>
        <li><a href="#">Угля</a></li>
        <li><a href="#">Декоративных камней</a></li>
        <li><a href="#">Соли для ванн</a></li>
        <li><a href="#">Земли для растений</a></li>
        <li><a href="#">Декоративного песка</a></li>
        <li><a href="#">Щепок</a></li>
        <li><a href="#">Семян для рассады</a></li>
        <li><a href="#">Средства от крыс и мышей</a></li>
        <li><a href="#">Прикормки для рыб</a></li>
        <li class="w-full"><a href="#">Скраба для тела и других принадлежностей для ухода за телом</a></li>
        <li class="w-full"><a href="#">Порошка для посудомоечной машины</a></li>
      </ul>
    </li>
    <li class="forwhat-item">
      <div class="forwhat-subtitle blue text-24">Продовольственные товары</div>
      <ul class="forwhat-sublist text-20">
        <li class="w-full"><a href="#">Конфеты</a></li>
        <li class="w-full"><a href="#">Печенье</a></li>
        <li class="w-full"><a href="#">Овощи</a></li>
        <li class="w-full"><a href="#">Игрушки</a></li>
        <li class="w-full"><a href="#">Запчасти</a></li>
      </ul>
    </li>
  </ul>

  <div class="green-ball --2"></div>
</div>