<header class="page-padding">
    <div class="header__logo-container">
        <a href="#">
            <svg>
                <use href="#header-logo"></use>
            </svg>
        </a>

        <div class="header__contacts">
            <a href="tel:+7 (499) 394 44 31">+7 (499) 394 44 31</a>
            <a href="mailto:sale@group-pack.ru">sale@group-pack.ru</a>
        </div>
    </div>

    <ul>
        <li>
            <a href="#">Дой пак</a>
        </li>
        <li>
            <a href="#">Фасовка</a>
        </li>
        <li>
            <a href="#">Производство</a>
        </li>
        <li>
            <a href="#">Контакты</a>
        </li>
    </ul>

    <button class="pink-button">Оставить заявку</button>
</header>