<section class="innovations page-padding block-margin">
    <h2>Инновации</h2>

    <div class="innovations__content">
        <div class="innovations__img">
            <img src="./assets/images/innovations/innovations-img.jpg" alt="#">
        </div>

        <ul>
            <li>Пилотные тиражи, 10 000 штук </li>
            <li>Работа на мономатериалах</li>
            <li>Многоразовый пакет с дозатором и зип застежкой</li>
            <li>Складная упаковка под табак</li>
            <li>Собственные патенты</li>
            <li>Индивидуальные проекты под клиента</li>
        </ul>
    </div>
</section>