<section class="title-block page-padding">
    <div class="blur-background"></div>
    <div class="title-block__title">
        <h1></h1>

        <a href="#" class="blue-button">Пилотные тиражи</a>

        <svg class="figure-arrow">
           <use href="#figure-arrow"></use> 
        </svg>

        <svg class="figure-arrow-mobile">
            <use href="#figure-arrow-mobile"></use>
        </svg>
        
    </div>

    <div class="title-block__video">
        <button>
            <svg>
                <use href="#play-ico"></use>
            </svg>
        </button>
        <video poster="./assets/images/video-preview.jpg">
            <source src="./assets/videos/Rick Astley - Never Gonna Give You Up (Official Music Video).mp4">
        </video>
    </div>

    <div class="title-block__information">
        <h2>Создаем тренды в упаковке</h2>
        <button class="border-blue-button" data-modal="#application-modal">
            <span>Получить консультацию</span>
        </button>
        
        <div class="title-block__info-container">
            <div class="title-block__info-inner">
                <div>
                    <p data-target="7">0</p>
                    <p>+</p>
                </div>
                <p>лет опыта</p>
            </div>

            <div class="title-block__info-inner">
                <div>
                    <p data-target="1000">0</p>
                    <p>+</p>
                </div>
                <p>довольных<br>клиентов</p>
            </div>

            <div class="title-block__info-inner">
                <div>
                    <p data-target="26">0</p>
                    <p>+</p>
                </div>
                <p>готовых<br>заказов в день</p>
            </div>
        </div>
    </div>
</section>

<div class="title-block__arrow-container">
    <button>
        <svg>
            <use href="#arrow-bottom"></use>
        </svg>
    </button>
</div>