<section class="title-block page-padding">
    <div class="title-block__title">
        <h1>Group Pack</h1>

        <a href="#" class="blue-button">Пилотные тиражи</a>

        <svg>
            <use href="#figure-arrow"></use>
        </svg>
    </div>

    <div class="title-block__video">
        <video controls="controls" poster="./assets/images/video-preview.jpg">
            <source src="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        </video>
    </div>

    <div class="title-block__information">
        <h2>Создаем тренды в упаковке</h2>

        <div class="border-blue-button">
            <button>Получить консультацию</button>
        </div>
        
        <div class="title-block__info-container">
            <div class="title-block__info-inner">
                <div>
                    <p>7</p>
                    <p>+</p>
                </div>
                <p>лет опыта</p>
            </div>

            <div class="title-block__info-inner">
                <div>
                    <p>1000</p>
                    <p>+</p>
                </div>
                <p>довольных<br>клиентов</p>
            </div>

            <div class="title-block__info-inner">
                <div>
                    <p>26</p>
                    <p>+</p>
                </div>
                <p>готовых<br>заказов в день</p>
            </div>
        </div>
    </div>
</section>

<div class="title-block__arrow-container">
    <div>
        <svg>
            <use href="#arrow-bottom"></use>
        </svg>
    </div>
</div>