<section class="materials-types page-padding block-margin">
    <h2>Типы материалов</h2>
    <p>Вы можете выбрать тип пакета в зависимости от дизайна и продукта</p>

    <ul class="materials-types__content">
        <li>
            <div class="materials-types__img">
                <img src="./assets/images/materials-types/materials-type-img1.jpg" alt="#">
            </div>

            <div class="materials-types__inner">
                <h3>Матовый</h3>
                <div></div>
                <p>Отлично подойдет для премиум-продуктов со строгим выдержанным дизайном</p>
                <a href="#" class="white-button">Заказать</a>
            </div>

            <div class="materials-types__description">
                <svg>
                    <use href="#point-icon"></use>
                </svg>
                <div class="materials-types__description-title">
                    <h3>Гарантия качества</h3>

                    <p>Гарантия от производителя, имеются все сертификаты качества</p>
                </div>
            </div>
        </li>
        <li>
            <div class="materials-types__img">
                <img src="./assets/images/materials-types/materials-type-img2.jpg" alt="#">
            </div>

            <div class="materials-types__inner">
                <h3>Глянцевый</h3>
                <div></div>
                <p>Великолепный выбор для красочного и яркого фирменного стиля, сочных цветов макета</p>
                <a href="#" class="white-button">Заказать</a>
            </div>

            <div class="materials-types__description">
                <svg>
                    <use href="#point-icon"></use>
                </svg>
                <div class="materials-types__description-title">
                    <h3>Экономия</h3>

                    <p>Возможность печати пилотным тиражом существенно сокращает время производства упаковки. Стоимость
                        пилотного тиража существенно ниже скоростной печати.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="materials-types__img">
                <img src="./assets/images/materials-types/materials-type-img3.jpg" alt="#">
            </div>

            <div class="materials-types__inner">
                <h3>Крафт <span>(белый, бурый, цветной)</span></h3>
                <div></div>
                <p>Идеальный вариант для ниши эко-продуктов и интересных задумок дизайнера</p>
                <a href="#" class="white-button">Заказать</a>
            </div>

            <div class="materials-types__description">
                <svg>
                    <use href="#point-icon"></use>
                </svg>
                <div class="materials-types__description-title">
                    <h3>Забота</h3>

                    <p>Мы умеем слышать и помнить то, что хочет клиент</p>
                </div>
            </div>
        </li>
    </ul>

    
</section>