<div id="header-modal" class="header-modal">
    <div class="header-modal-content">

        <div class="header-modal__background"></div>

        <div class="header-modal__inner">
            <div class="close-container">
                <button class="close">
                    <svg>
                        <use href="#cross-icon"></use>
                    </svg>
                </button>
            </div>
            <a href="#" class="header-modal__logo">
                <svg>
                    <use href="#header-logo"></use>
                </svg>
            </a>

            <ul>
                <li>
                    <a href="#">Дой пак</a>
                </li>
                <li>
                    <a href="#">Фасовка</a>
                </li>
                <li>
                    <a href="#">Производство</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </div>

        <div class="header-modal__contacts">
            <a href="tel:+7 (499) 394 44 31">+7 (499) 394 44 31</a>
            <a href="mailto:sale@group-pack.ru">sale@group-pack.ru</a>
            <a href="#" class="pink-button">Оставить заявку</a>
        </div>
    </div>
</div>


<div id="application-modal" class="application-modal">
    <div class="application-modal-content">

        <div class="application-modal__background"></div>

        <div class="application-modal__close-container">
            <button class="close">
                <svg>
                    <use href="#cross-icon"></use>
                </svg>
            </button>
        </div>

        <form action="#" name="application-form" class="application-form">
            <h2>
                Оставить заявку
            </h2>

            <p>Заполните форму, и наш специалист свяжется с вами</p>
        
            <div class="application-form__inputs">
                <input type="text" placeholder="Имя" name="name">
                <input type="email" placeholder="E-mail" name="mail">
                <input type="tel" placeholder="Телефон" name="phone">
            </div>
        
            <div class="application-form__submit">
                <p>Нажимая кнопку «Отправить», вы&nbsp;соглашаетесь с&nbsp;<a href="#">Политикой обработки персональных данных</a> и&nbsp;<a href="#">Политикой конфиденциальности</a></p>
        
                <button class="blue-button" type="submit">
                    Заказать
                </button>
            </div>
        </form>

    </div>
</div>


<div id="thanks-modal" class="thanks-modal">
    <div class="thanks-modal-content">

        <div class="thanks-modal__background">
            <img src="./assets/images/modals/mobile-line.jpg" alt="#">
        </div>

        <h2>Спасибо за Вашу заявку!</h2>

        <p>
            Наши специалисты свяжутся с вами в течение <span>15 минут</span> в рабочее время. Заявки обрабатываются с <span>09:00</span> до <span>21:00</span>  по будням, и с <span>10:00</span> до <span>20:00</span>  по выходным. Заявки, отправленные в нерабочее время, обрабатываются на следующий день.
        </p>

        <button class="blue-button close">Закрыть</button>

    </div>
</div>