<section class="our-works page-padding block-margin">
    <h2>Наши работы</h2>
    <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его, чтобы создать книгу с образцами шрифтов.</p>

    <ul>
        <li>
            <img src="./assets/images/our-works/our-works-img1.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img2.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img3.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img4.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img5.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img6.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img7.jpg" alt="#">
        </li>
        <li>
            <img src="./assets/images/our-works/our-works-img8.jpg" alt="#">
        </li>
    </ul>
</section>