<section class="our-works page-padding block-margin">
    <h2>Наши работы</h2>
    <p>Раздел нашей работы по дой-пак упаковке посвящен предоставлению высококачественных упаковочных решений для различных отраслей промышленности. Мы предлагаем широкий ассортимент дой-паков, изготовленных из экологически чистых материалов, которые обеспечивают надежную защиту и сохранение продукции. Наши опытные специалисты помогут выбрать оптимальную упаковку для вашего продукта, учитывая его характеристики и требования к хранению. Мы также предлагаем услуги по индивидуализации упаковки, включая нанесение логотипа и других элементов фирменного стиля. В нашем разделе вы найдете информацию о материалах, технологиях производства и преимуществах дой-пак упаковки для различных видов продукции.</p>
    <div class="our-works__background">
        <img src="./assets/images/our-works/our-works__background.jpg" alt="#">
    </div>
    <div class="swiper our-works-swiper">
        <ul class="swiper-wrapper">
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img1.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img2.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img3.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img4.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img5.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img6.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img7.jpg" alt="#">
                </div>
            </li>
            <li class="swiper-slide rotation-card">
                <div class="panel-container">
                    <img src="./assets/images/our-works/our-works-img8.jpg" alt="#">
                </div>
            </li>
        </ul>
    </div>

    <div class="our-works-pagination"></div>
    
</section>