<section class="our-clients page-padding block-margin">
    <h2>Наши клиенты</h2>

    <ul>
        <li>
            <img src="../assets/images/our-clients/our-clients-img1.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img2.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img3.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img4.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img5.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img6.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img7.jpg" alt="#">
        </li>
        <li>
            <img src="../assets/images/our-clients/our-clients-img8.jpg" alt="#">
        </li>
    </ul>
</section>