<section class="our-clients page-padding block-margin">
    <h2>Наши клиенты</h2>

    <ul>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img1.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img2.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img3.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img4.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img5.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img6.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img7.jpg" alt="#">
            </div>
        </li>
        <li class="rotation-card">
            <div class="panel-container">
                <img src="./assets/images/our-clients/our-clients-img8.jpg" alt="#">
            </div>
        </li>
    </ul>
</section>