<section class="production page-padding block-margin">
    <h2>Производство</h2>

    <div class="production__content">
        <div class="production__video">
            <button>
                <svg>
                    <use href="#play-ico"></use>
                </svg>
            </button>
            <video poster="./assets/images/production/production-video-img.jpg">
                <source src="./assets/videos/Rick Astley - Never Gonna Give You Up (Official Music Video).mp4">
            </video>
        </div>

        <div class="production__text">
            <p>Мы сами производим упаковку дой-пак, поэтому готовы в короткий срок изготовить любую партию товара. При необходимости проконсультируем по выбору материала для изготовления упаковки под вашу продукцию. Разработаем дизайн, нанесем логотип и даже расфасуем товары, если понадобится.</p>

            <p>Предлагаем низкие цены, широкий спектр сопутствующих услуг, удобные формы расчета. Доставка по всей России через транспортную компанию. В Москве забрать заказ можно самовывозом.</p>

            <button class="white-button" data-modal="#application-modal">Узнать подробнее</button>
        </div>
    </div>
</section>