<div class="shorts-container page-padding block-margin">
    <div class="shorts-container__title">
        <h3>Group Pack в соц. сетях</h3>
        <div class="shorts-container__contacts">
            <a href="mailto: sale@group-pack.ru">sale@group-pack.ru</a>

            <a href="#">
                <svg>
                    <use href="#vk-icon"></use>
                </svg>
            </a>

            <a href="#">
                <svg>
                    <use href="#tg-icon"></use>
                </svg>
            </a>

            <a href="#">
                <svg>
                    <use href="#inst-icon"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="swiper shorts-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="title-block__video">
                    <button>
                        <svg>
                            <use href="#play-ico"></use>
                        </svg>
                    </button>
                    <video poster="./assets/images/video-preview-screen.jpg">
                        <source src="./assets/videos/main-video.mp4">
                    </video>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title-block__video">
                    <button>
                        <svg>
                            <use href="#play-ico"></use>
                        </svg>
                    </button>
                    <video poster="./assets/images/video-preview-screen.jpg">
                        <source src="./assets/videos/main-video.mp4">
                    </video>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title-block__video">
                    <button>
                        <svg>
                            <use href="#play-ico"></use>
                        </svg>
                    </button>
                    <video poster="./assets/images/video-preview-screen.jpg">
                        <source src="./assets/videos/main-video.mp4">
                    </video>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title-block__video">
                    <button>
                        <svg>
                            <use href="#play-ico"></use>
                        </svg>
                    </button>
                    <video poster="./assets/images/video-preview-screen.jpg">
                        <source src="./assets/videos/main-video.mp4">
                    </video>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title-block__video">
                    <button>
                        <svg>
                            <use href="#play-ico"></use>
                        </svg>
                    </button>
                    <video poster="./assets/images/video-preview-screen.jpg">
                        <source src="./assets/videos/main-video.mp4">
                    </video>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title-block__video">
                    <button>
                        <svg>
                            <use href="#play-ico"></use>
                        </svg>
                    </button>
                    <video poster="./assets/images/video-preview-screen.jpg">
                        <source src="./assets/videos/main-video.mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="shorts-swiper__pagination"></div>
</div>