<div class="bulkfas page-padding block-margin">

  
  <div class="bulkfas-wrapper">
    <div class="h2 bulkfas-title">Мелкоштучная фасовка</div>
    <div class="text-24 text-grey">
      Фасовка мелкоштучных товаров
    </div>
    <div class="bulkfas-lists">
      <div class="bulkfas-block text-24">
        <ul class="bulkfas-list text-20">
          <li><a href="#">Конфеты</a></li>
          <li><a href="#">Печенье</a></li>
          <li><a href="#">Овощи</a></li>
          <li><a href="#">Игрушки</a></li>
          <li><a href="#">Запчасти</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bulkfas-wrapper">
    <div class="bulkfas-img img-cover">
      <img src="./assets/images/fasovka/4.jpg" alt="Мелкоштучная фасовка">
    </div>
    <button class="blue-button bulkfas-button" data-modal="#application-modal">
      Заказать
    </button>

  </div>

</div>