<section class="social-media__subscribe-block page-padding">
    <div class="social-media__subscribe-block-wrapper">
        <div class="social-media__subscribe-text">
            <h3>Подпишитесь на наши соц. сети</h3>
            <p>В них мы рассказываем о упаковке и работе</p>
            <a href="#" class="pink-button">Перейти</a>
        </div>

        <div class="social-media__subscribe-img">
            <img src="./assets/images/type-of-package/social-media-links.png" alt="#">
        </div>
    </div>
</section>