<section class="stages page-padding block-margin">
    <h2>Этапы работы</h2>

    <ul>
        <li>
            <h3>01</h3>
            <p>Обработка заявки</p>
            <p>в течении 15 минут</p>
        </li>

        <li>
            <h3>02</h3>
            <p>Расчет стоимости</p>
            <p>предварительный</p>
        </li>

        <li>
            <h3>03</h3>
            <p>Подготовка</p>
            <p>документов и макетов</p>
        </li>

        <li>
            <h3>04</h3>
            <p>Предоплата</p>
            <p>согласно договору</p>
        </li>

        <li>
            <h3>05</h3>
            <p>Выполнение заказа</p>
            <p>по плану</p>
        </li>

        <li>
            <h3>06</h3>
            <p>Пост оплата</p>
            <p>согласно договору</p>
        </li>
    </ul>
</section>