<section class="stages page-padding block-margin">
    <h2>Этапы работы</h2>

    <ul>

        <li>
            <svg class="stages-line" viewBox="0 0 1181 270" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3"
                    d="M8 15H1146C1157.05 15 1166 23.9543 1166 35V235C1166 246.046 1157.05 255 1146 255H0"
                    stroke="#60DD68" stroke-width="30" />
            </svg>

            <svg class="stages-line-mobile">
                <use href="#stages-line-mobile"></use>
            </svg>
        </li>

        <li>
            <h3>01</h3>
            <p>Обработка заявки</p>
            <p>в течении 15 минут</p>
        </li>

        <li>
            <h3>02</h3>
            <p>Расчет стоимости</p>
            <p>предварительный</p>
        </li>

        <li>
            <h3>03</h3>
            <p>Подготовка</p>
            <p>документов и макетов</p>
        </li>

        <li>
            <h3>06</h3>
            <p>Пост оплата</p>
            <p>согласно договору</p>
        </li>

        <li>
            <h3>05</h3>
            <p>Выполнение заказа</p>
            <p>по плану</p>
        </li>

        <li>
            <h3>04</h3>
            <p>Предоплата</p>
            <p>согласно договору</p>
        </li>
    </ul>
</section>