<ul class="teatypes-list mt-45">
  <li class="teatypes-item">
    <div class="teatypes-subtitle text-24 font-medium">Пакет дой-пак с зип-лок</div>
    
    <div class="teatypes-image" style="background-image: url('./assets/images/fasovka/5.jpg');">
      <a href="#" class="white-button teatypes-btn">Подробнее</a>
    </div>
  </li>
  <li class="teatypes-item">
    <div class="teatypes-subtitle text-24 font-medium">Пакет дой-пак с окошком</div>
    
    <div class="teatypes-image" style="background-image: url('./assets/images/fasovka/6.jpg');">
      <a href="#" class="white-button teatypes-btn">Подробнее</a>
    </div>
  </li>
  <li class="teatypes-item">
    <div class="teatypes-subtitle text-24 font-medium">Пакет трехшовный</div>
    
    <div class="teatypes-image" style="background-image: url('./assets/images/fasovka/7.jpg');">
      <a href="#" class="white-button teatypes-btn">Подробнее</a>
    </div>
  </li>
  <li class="teatypes-item">
    <div class="teatypes-subtitle text-24 font-medium">Крафт пакет дой-пак</div>
    
    <div class="teatypes-image" style="background-image: url('./assets/images/fasovka/8.jpg');">
      <a href="#" class="white-button teatypes-btn">Подробнее</a>
    </div>
  </li>
</ul>