<section class="teapackage page-padding mt-50">
  <h1 class="h1">Упаковка для чая</h1>

  <div class="fasmain-twocolumns text-24 text-grey mt-45">
    <div>
      Упаковка для чая требует плотного закрывания или запайки во избежание ослабления аромата. Чтобы не допустить разрыва упаковки и рассыпания
      продукта, мы используем в производстве плотные пленки PET, BOPP, OPP, PP, PE, устойчивые к разрыву, и офсетную или крафт бумагу. Металлизация
      внутренней стороны пакета защищает листовые и гранулированные сорта от контакта с влагой и светом.
    </div>
    <div>
      Дизайн чайной упаковки по заказу клиента могут разработать наши специалисты. Профессиональное оформление пакета в ярких и красочных вариантах
      привлечет потребителя и выделит торговую марку из общего ассортимента. Для фасовки чая используются разные формы упаковки.
    </div>
  </div>

</section>