<section class="technical-capabilities page-padding block-margin">
    <h2>Технические возможности</h2>

    <div class="technical-capabilities__content">
        <div class="technical-capabilities__inner">
            <a href="#">Флексопечать</a>
            <ul>
                <li>Печать до 10 цветов</li>
                <li>Скорость печати - до 650 метров в минуту</li>
                <li>Максимальная ширина вала 1280 мм</li>
                <li>Линиатура растра</li>
            </ul>

            <div class="technical-capabilities__img">
                <img src="./assets/images/technical-capabilities/technical-capabilities-img1.jpg" alt="#">
            </div>

            <a href="#" class="blue-button">Подробнее</a>
        </div>
        <div class="technical-capabilities__inner">
            <a href="#">Печать на крафт бумаге</a>
            <ul>
                <li>Печать до 8 цветов</li>
                <li>Скорость печати - до 256 метров в минуту</li>
                <li>Максимальная ширина вала 1150 мм</li>
                <li>Линиатура до 100 LPI</li>
            </ul>

            <div class="technical-capabilities__img">
                <img src="./assets/images/technical-capabilities/technical-capabilities-img2.jpg" alt="#">
            </div>

            <a href="#" class="blue-button">Подробнее</a>
        </div>
        <div class="technical-capabilities__inner">
            <a href="#">Офсетная печать</a>
            <ul>
                <li>Печать до 6 цветов</li>
                <li>Скорость печати - до 60 листов в минуту</li>
                <li>Максимальная ширина вала 800 мм</li>
                <li>Линиатура до 150 LPI</li>
            </ul>

            <div class="technical-capabilities__img">
                <img src="./assets/images/technical-capabilities/technical-capabilities-img3.jpg" alt="#">
            </div>

            <a href="#" class="blue-button">Подробнее</a>
        </div>
    </div>
</section>