<section class="type-of-package page-padding block-margin">
    <div class="type-of-package-background">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 923" fill="none">
            <g opacity="0.2">
                <path class="animated-path"
                    d="M1925.55 922.887C1925.55 922.887 1717.46 903.777 1412.01 775.285C1141.85 661.64 1056.17 747.618 784.479 630.149C648.524 571.355 412.245 566.878 244.299 531.501C-59.5023 467.466 -118.877 392.563 -118.877 392.563L-21 0C-21 0 89.6392 68.7284 213.379 118.151C478.846 224.195 687.571 171.136 934.045 274.154C1117.01 350.63 1336.28 328.317 1518.87 400.406C1751.58 492.277 2028.26 510.939 2028.26 510.939L1925.55 922.887Z"
                    fill="#263A81" />
            </g>
        </svg>
    </div>
    <h2>Типы упаковки</h2>
    <div class="type-of-package__subtitle">
        <p>Состав пакета:</p>
        <p>Пакеты изготавливаются из полимерных плёнок, для большей прочности и герметичности склеивают несколько плёнок в одну, затем сушат и ламинируют</p>
    </div>

    <ul>
        <li>
            <div class="type-of-package__content">
                <div class="type-of-package__content-inner">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-prod1.png" alt="#">
                    </div>
                </div>

                <div class="type-of-package__content-text">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-img1.png" alt="#">
                    </div>

                    <p>Полиэтилен</p>
                    <p>Лавсан</p>
                    <p>Полипропилен<br>метализированный</p>
                </div>
            </div>

            <button class="blue-button" data-modal="#application-modal">Заказать</button>
        </li>

        <li>
            <div class="type-of-package__content">
                <div class="type-of-package__content-inner">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-prod2.png" alt="#">
                    </div>
                </div>

                <div class="type-of-package__content-text">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-img2.png" alt="#">
                    </div>

                    <p>Лавсан</p>
                    <p>Полиэтилен</p>
                </div>
            </div>

            <button href="#" class="blue-button" data-modal="#application-modal">Заказать</button>
        </li>
    </ul>
</section>