<section class="type-of-package page-padding block-margin">
    <h2>Типы упаковки</h2>
    <div class="type-of-package__subtitle">
        <p>Состав пакета:</p>
        <p>Пакеты дой-пак изготавливаются из полимерной плёнки, для большей прочности и герметичности склеивают несколько плёнок в одну – ламинируют</p>
    </div>

    <ul>
        <li>
            <div class="type-of-package__content">
                <div class="type-of-package__content-inner">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-prod1.jpg" alt="#">
                    </div>
                </div>

                <div class="type-of-package__content-text">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-img1.jpg" alt="#">
                    </div>

                    <p>Полиэтилен</p>
                    <p>Лавсан</p>
                    <p>Полипропилен<br>метализированный</p>
                </div>
            </div>

            <a href="#" class="blue-button">Заказать</a>
        </li>

        <li>
            <div class="type-of-package__content">
                <div class="type-of-package__content-inner">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-prod1.jpg" alt="#">
                    </div>
                </div>

                <div class="type-of-package__content-text">
                    <div>
                        <img src="./assets/images/type-of-package/type-of-package-img2.png" alt="#">
                    </div>

                    <p>Лавсан</p>
                    <p>Полиэтилен</p>
                </div>
            </div>

            <a href="#" class="blue-button">Заказать</a>
        </li>
    </ul>
</section>