<div class="type-of-print page-padding block-margin">
    <h3>Другие виды печати</h3>
    <div class="type-of-print__wrapper">
        <div class="swiper type-of-print__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div>
                        <div class="green-title">Печать на крафт бумаге</div>
                        <div class="img-container">
                            <img src="./assets/images/type-of-print/type-of-print-card.jpg" alt="#">
                        </div>

                        <a href="#" class="blue-button">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="green-title">Печать на крафт бумаге</div>
                        <div class="img-container">
                            <img src="./assets/images/type-of-print/type-of-print-card.jpg" alt="#">
                        </div>

                        <a href="#" class="blue-button">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="green-title">Печать на крафт бумаге</div>
                        <div class="img-container">
                            <img src="./assets/images/type-of-print/type-of-print-card.jpg" alt="#">
                        </div>

                        <a href="#" class="blue-button">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="green-title">Печать на крафт бумаге</div>
                        <div class="img-container">
                            <img src="./assets/images/type-of-print/type-of-print-card.jpg" alt="#">
                        </div>

                        <a href="#" class="blue-button">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="type-of-print__text">
            <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли
                фиктивным текстом с 1500-х годов, когда неизвестный печатник взял набор шрифтов и скремблировал его,
                чтобы создать книгу с образцами шрифтов.</p>

            <p>Это просто фиктивный текст полиграфической промышленности. Lorem Ipsum был стандартным в отрасли
                фиктивным текстом с 1500-х годов</p>
        </div>
    </div>
</div>