<section class="why-us page-padding block-margin">
    <h2>Почему мы?</h2>

    <ul>
        <li>
            <svg>
                <use href="#why-us-1"></use>
            </svg>

            <p>Индивидуальный<br>подход</p>
        </li>

        <li>
            <svg>
                <use href="#why-us-2"></use>
            </svg>

            <p>Работаем на современном оборудовании</p>
        </li>

        <li>
            <svg>
                <use href="#why-us-3"></use>
            </svg>

            <p>Короткие сроки</p>
        </li>

        <li>
            <svg>
                <use href="#why-us-4"></use>
            </svg>

            <p>Компетенции по<br>поставкам в сети и<br>маркетплейсы</p>
        </li>
    </ul>
</section>