<section class="why-us page-padding block-margin">
    <h2>Почему мы?</h2>

    <ul>
        <li class="rotation-card">
            <div class="rotation-card__background"></div>
            <div class="panel-container">
                <svg>
                    <use href="#why-us-1"></use>
                </svg>
    
                <p>Индивидуальный<br>подход</p>
            </div>
        </li>

        <li class="rotation-card">
            <div class="rotation-card__background"></div>
            <div class="panel-container">
                <svg>
                    <use href="#why-us-2"></use>
                </svg>
    
                <p>Работаем на современном оборудовании</p>
            </div>
        </li>

        <li class="rotation-card">
            <div class="rotation-card__background"></div>
            <div class="panel-container">
                <svg>
                    <use href="#why-us-3"></use>
                </svg>
    
                <p>Короткие сроки</p>
            </div>
            
        </li>

        <li class="rotation-card">
            <div class="rotation-card__background"></div>
            <div class="panel-container">
                <svg>
                    <use href="#why-us-4"></use>
                </svg>
    
                <p>Компетенции по<br>поставкам в сети и<br>маркетплейсы</p>
            </div>
            
        </li>
    </ul>
</section>